In [1]:
import pandas as pd
import numpy as np

In [53]:
un = pd.read_csv('Unemployment.csv')
edu = pd.read_csv('Education.csv')
pov = pd.read_csv('PovertyEstimates.csv')

In [45]:
da = un[['Stabr','area_name',' Civilian_labor_force_2019 ',' Employed_2019 ',' Unemployed_2019 ', 'Unemployment_rate_2019','Median_Household_Income_2018']]
db = edu[['State', 'Area_name', 'Less_than_high_school_diploma_2014_2018',
     'High_school_only',"Some_college_or_associate's_degree","Bachelor's_degree_or_higher",
     'Percent_high_school', 'Percent_high_school',"Percent_adults_college_or_associate's_degree",
     "Percent_bachelor's_degree_or_higher"]]

dc = pov[['Stabr', 'Area_name', 'PCTPOVALL_2018']]

In [47]:
da.area_name = [x.split(',')[0] for x in da.area_name]

In [48]:
dc.columns = ['State', 'Area_name', 'PCTPOVALL_2018']
da.columns = ['State','Area_name',' Civilian_labor_force_2019 ',' Employed_2019 ',' Unemployed_2019 ', 'Unemployment_rate_2019','Median_Household_Income_2018']
df = da.merge(db, on=['State', 'Area_name'])
df = df.merge(dc, on=['State', 'Area_name'])

In [50]:
df.to_csv('data/other_data.csv')

In [49]:
df

,State,Area_name,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2018,Less_than_high_school_diploma_2014_2018,High_school_only,Some_college_or_associate's_degree,Bachelor's_degree_or_higher,Percent_high_school,Percent_high_school,Percent_adults_college_or_associate's_degree,Percent_bachelor's_degree_or_higher,PCTPOVALL_2018
0,US,United States,163100055.0,157115247.0,5984808.0,3.7,61937.0,"26,948,057","59,265,308","63,365,655","68,867,051",12.3,12.3,29.0,31.5,13.1
1,AL,Alabama,2241747.0,2174483.0,67264.0,3.0,49881.0,"470,043","1,020,172","987,148","822,595",14.2,14.2,29.9,24.9,16.8
2,AL,Autauga County,26172.0,25458.0,714.0,2.7,59338.0,"4,204","12,119","10,552","10,291",11.3,11.3,28.4,27.7,13.8
3,AL,Baldwin County,97328.0,94675.0,2653.0,2.7,57588.0,"14,310","40,579","46,025","46,075",9.7,9.7,31.3,31.3,9.8
4,AL,Barbour County,8537.0,8213.0,324.0,3.8,34382.0,"4,901","6,486","4,566","2,220",27.0,27.0,25.1,12.2,30.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3172,WY,Sweetwater County,21274.0,20446.0,828.0,3.9,73315.0,"2,549","9,433","10,108","6,243",9.0,9.0,35.7,22.0,8.4
3173,WY,Teton County,15575.0,15151.0,424.0,2.7,99087.0,958,"2,272","4,087","9,847",5.6,5.6,23.8,57.4,6.3
3174,WY,Uinta County,9035.0,8682.0,353.0,3.9,63401.0,934,"5,176","4,810","1,995",7.2,7.2,37.2,15.4,10.0
3175,WY,Washakie County,3941.0,3786.0,155.0,3.9,55190.0,590,"1,717","2,135","1,220",10.4,10.4,37.7,21.5,11.9
3176,WY,Weston County,3811.0,3701.0,110.0,2.9,54319.0,389,"1,796","1,868",961,7.8,7.8,37.3,19.2,11.8